@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>Welcome to TodoFlow</h1>
    <br />
    <h2>TodoFlow: A Simple Todo Application</h2>
    <p>
        TodoFlow is a streamlined and intuitive todo application designed to streamline your task management experience. With its user-friendly interface and essential features, TodoFlow empowers users to organize their tasks efficiently and stay focused on what matters most.
    </p>

    <h2>Why Choose TodoFlow Application?</h2>

    <ol>
        <li><strong>Simplicity</strong>: The Today Application prioritizes simplicity and ease of use, making it suitable for users of all experience levels. Whether you're a seasoned productivity enthusiast or a casual user looking to stay organized, the application offers a straightforward solution to manage your tasks effectively.</li>
        <li><strong>Flexibility</strong> With customizable features such as task categories, priorities, and editing options, the Today Application adapts to your unique workflow and preferences. Whether you prefer to organize tasks by project, priority, or deadline, the application provides the flexibility to tailor your task management approach to suit your needs.</li>
        <li><strong>Accessibility</strong> Designed with cross-platform compatibility in mind, the Today Application ensures you can access your tasks whenever and wherever you need them. Whether you're at home, in the office, or on the move, the application seamlessly syncs your tasks across all your devices, ensuring you're always up to date and in control of your schedule.</li>
    </ol>
</main>